#header-block{
    border: 2px solid black;
    background-color: #ffffff;
}

#header-content{
    border: 2px solid yellow;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:20px 0px 20px 0px ;
}

#left-box{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#left-box img{
    width: 40%;    
}

.link{
    color: #0076be;
    padding:0px 10px 0px 10px; 
    font-weight: bold;
}

#right-box{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.red-button{
    color: #0076be;
    padding:5px 30px 5px 30px; 
    font-weight: bold;
    border: 1px solid #b71234;
    background-color: #b71234;
    border-radius: 8px;
    color: white;
}