#section-two-block{
    border: 2px solid black;

}

#section-two-content{
    border: 2px solid yellow;
    width: 1000px;
    /* height: 400px; */
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.section-two-title{
    color: #0076be;
    font-size: 30px;
    font-weight: bold;
    padding:30px 0px 30px 0px;
}

.section-two-box-two{
    border: 2px solid green;
    display: flex;
    width: 100%;
    align-items:space-between;
    justify-content: space-evenly;
}

.section-two-left{
    /* border: 2px solid red; */
    /* height:400px; */
    width: 350px;
    /* height: 400px; */
    /* padding: 20px; */
}

.section-two-right{
    /* border: 2px solid red; */
    width: 350px;
    height: auto;
}

.section-two-box-three{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#section-two-top{
    /* min-height: 50%; */
    width: 100%;
    /* border: 2px solid blue; */
    background-color:#0076be;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 15px 0px;
}

#section-two-bottom{
    height: 50%;
    width: 100%;
    /* border: 2px solid blue; */
    background-color:white;
    border-radius: 0px 0px 10px 10px;
}

#section-two-top img{
    /* border: 2px solid red; */
    height:50px;
    /* width:auto; */
    padding:15px 0px 0px 0px;
}

/* ======================================= */

#section-two-bottom-left{
    /* min-height: 50%; */
    width: 100%;
    /* border: 2px solid blue; */
    background-color:white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
    text-align: center;
}

#section-two-box-two-button{
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color:#b0afaf;
    height:20px;
    padding: 10px;
    margin:0px 0px 0px 0px;
    font-weight: bold;
}

#section-two-bottom-left-text{
    /* border: 2px solid black; */
}

/* ======================================= */

#section-two-box-three{
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0px 20px 0px;
}

/* ======================================= */

#section-two-box-three-content{
    /* border: 2px solid blue; */
    display: flex;
    justify-content:center;
    width: 100%;
    /* min-height: 200px; */
    padding:0px 0px 70px 0px;
}

#compare-cover-plan{
    /* border: 2px solid red; */
    background-color: #ebf4ff;
    border-collapse: collapse;
}

#compare-cover-plan th, #compare-cover-plan td{
    border: 2px solid grey;
    /* width: 300px; */
}

.column-one{
    border: 2px solid green;
    width: 500px;
}

.column-two{
    border: 2px solid green;
    width: 210px;
    padding:10px;
}

.info-column{
    padding:20px;
}

.tick-column{
    text-align:center;
}

.get-a-quote-button{
    width:120px;
    padding:10px;
    border-radius: 10px;
    color: white;
    background-color: #0076be;
    font-weight: bold;
    text-align:center;
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.bottom-column{
    padding:20px 0px 20px 0px;
    /* text-align: center; */
}