#section-six-block{
    /* border: 2px solid black; */
    /* background-color: rgb(199, 194, 194); */
}

#section-six-content{
    /* border: 2px solid yellow; */
    background-color: #363636;
    color:white;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

#right{
    display: flex;
    padding:0px 10px 0px 0px;
}

.icon{
    /* border: 2px solid red; */
    display: flex;
    font-size: 15px;
    /* border: 2px solid yellow; */
    justify-content:center;
    align-items:center;
    padding:0px 10px 0px 10px;
}

.icon img{
    /* border: 2px solid yellow;  */
    width:30px;
        /* padding:0px 0px 0px 15px; */
}

.left-icon{
    padding:0px 15px 0px 15px;
}
